.img-thumbnail {
  margin: 25px;
  width: 85%;
  height: 85%;
}

.card-body {
  padding: 0 25;
}

.card-footer {
  padding: 10px 15px;
  background-color: #fff;
  border-top: none;
}

.vertical-center {
  padding-bottom: 40px;
  height: 50px; /* Set the height of the div to ensure there is space to center vertically */
}
